# Ignorar archivos de credenciales
__pycache__/
*.py[cod]
*$py.class

credentials.json
firebase.json
token.json
projects_config.json

# Ignorar entornos virtuales (si usas uno)
venv/
env/
*.env
venv

# Ignorar otros archivos sensibles o temporales
*.log
*.bak
*.swp
*.exe

chromedriver.exe